<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 02</title>

    <link rel="stylesheet" href="estilos02.css">
</head>
<body>

<section id="barrasup">
    <div id="sup">
        <div class="logo">Logo</div>
        <div class="links">
            <div class="box"><a href="#">Sobre</a></div>
            <div class="box"><a href="#">Produtos</a></div>
            <div class="box"><a href="#">Contato</a></div>
        </div>
    </div>
</section>

<section id="conteudo">
    <div class="itemg">
        <div class="img"></div>
        <div class="texto">Alimentação Saudável</div>
    </div>

    <div class="itemp">
        <div class="item">
            <div class="img"></div>
            <div class="texto">Como é trabalhar com TI</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <div class="texto">Como é trabalhar com TI</div>
        </div>
    </div>
</section>
    
</body>
</html>