<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
        <h2>LOGO</h2>
        <nav>
            <a href="">Sobre</a>
            <a href="">Produtos</a>
            <a href="">contatos</a>
        </nav>
    </header>
    <section>
        <div class="conteudo">
            <div class="imgMaior">
                <img src="" alt="">
                <div class="texto">imagem</div>
            </div>
            <div class="coluna">
                <div class="imgMenor">
                    <img src="" alt="">
                    <div class="texto">imagem</div>
                </div>
                <div class="imgMenor">
                    <img src="" alt="">
                    <div class="texto">imagem</div>
                </div>
            </div>

        </div>
    </section>

</body>
</html>