<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 04</title>

    <link rel="stylesheet" href="estilos04.css">
</head>
<body>

<section id="barrasup">
    <div id="sup">
        <div class="logo">Logo</div>
        <div class="links">
            <div class="box"><a href="#">Sobre</a></div>
            <div class="box"><a href="#">Produtos</a></div>
            <div class="box"><a href="#">Contato</a></div>
        </div>
    </div>
</section>

<section id="videos">
    <div class="item">
        <div class="video"></div>
        <div class="texto">Vídeo 01</div>
    </div>

    <div class="item">
        <div class="video"></div>
        <div class="texto">Vídeo 02</div>
    </div>

    <div class="item">
        <div class="video"></div>
        <div class="texto">Vídeo 03</div>
    </div>
</section>

<section id="sugestoes">
    <div class="banner">
        <div class="img"></div>
        <div class="texto">Banner</div>
    </div>

    <div class="sugest">
        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>
    </div>

    <div class="sugest">
        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>

        <div class="item">
            <div class="img"></div>
            <div class="texto">Sugestão</div>
        </div>
    </div>
</section>
    
</body>
</html>